* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(255, 199, 207);
  font-family: Arial, Helvetica, sans-serif;
}